.content {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	background-color: #FFFAFA;
	box-shadow: 1px 1px 6px #CD5B45;
	position: relative;
	top: 74px;
}
.content-left {
	width: 300px;
	position: absolute;
	top: 20px;
	left: 20px;
	/*background-color: #eee;*/
}
.content-left a {
	color: #2F4F4F;
}
.content-left a:hover {
	color: #FF0000;
}
.upelimb,
.downelimb,
.trunk,
.draw {
	width: 220px;
	height: 90px;
	background: rgba(0,0,0,0.1);
	text-align: center;
	line-height: 90px;
	margin: 60px auto;
	border-radius: 10px;
}
.content-right {
	width: 700px;
	height: 800px;
	position: absolute;
	top: 20px;
	right: 30px;
}
.content-right h1 {
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	padding-bottom: 20px;
}
.content-right ul {
	width: 700px;
	height: 150px;
	margin-bottom: 20px;
	/*box-shadow: 2px 2px 3px red;*/
}
.content-right ul li {
	width: 200px;
	height: 150px;
	float: left;
	margin: 0 15px;
}
.content-right ul li:hover {
	box-shadow: 1px 1px 1px #FF8C69;
}
.content-right ul h4 {
	height: 28px;
	line-height: 28px;
	font-weight: normal;
}